<% layout("layouts/boilerplate") %>

<div class="container justify-content-center align-items-center mt-auto">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/photos/home03.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title mb-5">Change User Password</h5>
                    <form action="/changePassword" method="POST" class="validated-form" novalidate>
                    
                        <div class="mb-3">
                            <label class="form-label" for="old-password">Old Password</label>
                            <input class="form-control" type="password" id="old-password" name="oldPassword" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="new-password">New Password</label>
                            <input class="form-control" type="password" id="new-password" name="newPassword" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="confirm-password">Confirm New Password</label>
                            <input class="form-control" type="password" id="confirm-password" name="confirmPassword" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="d-grid gap-2 col-12 mx-auto mb-3">
                            <button class="btn btn-success">Change Password</button>
                        </div>
                    
                    </form>
                    <footer>
                        <a href="/campgrounds">Cancel</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>


