<% layout("layouts/boilerplate") %>

<div class="container justify-content-center align-items-center mt-auto">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/photos/home03.jpg" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title mb-5">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                    
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="d-grid gap-2 col-12 mx-auto mb-3">
                            <button class="btn btn-success">Register</button>
                        </div>

                        <!-- Socials block -->
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <div class="card social-block">
                                <div class="card-body">
                                    <div class="d-grid gap-2 col-12 mx-auto mb-3">
                                        <a class="btn btn-block btn-social btn-google google-btn" href="/auth/google" role="button">
                                            <i class="fa-brands fa-google fa-lg me-2" style="color: #ffffff;"></i>
                                            Register with Google
                                        </a>
                                    </div>
                                    <div class="d-grid gap-2 col-12 mx-auto mb-3">
                                        <a class="btn btn-block btn-social btn-facebook facebook-btn" href="/auth/facebook" role="button">
                                            <i class="fa-brands fa-facebook fa-lg me-2"></i>
                                            Register with Facebook
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


